services:
  - type: web
    name: selledu-api
    env: node
    buildCommand: npm install
    startCommand: node index.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000
      - key: API_VERSION
        value: v1
    healthCheckPath: /health

